@keyframes ldio-k7r3tt88ice {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-k7r3tt88ice div {
  position: absolute;
  width: 78px;
  height: 78px;
  border: 6px solid #8db78d;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-k7r3tt88ice div {
  animation: ldio-k7r3tt88ice 1s linear infinite;
  top: 46px;
  left: 46px
}
.loadingio-spinner-rolling-ty9legayis {
  width: 105px;
  height: 105px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-k7r3tt88ice {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-k7r3tt88ice div { box-sizing: content-box; }