.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.channels {
  position: relative;
  width: 100%;
  max-width: 105px;
  height: 100vh;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #232323;
  border-right: 1px #33363F solid;

  &__wrapper {
    position: relative;
    overflow-x: none;
    overflow-y: scroll;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 3px;
      height: 2rem;
      
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #333;
      border-radius: 20px;
    }
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    font-size: 28px;
    border-radius: 50px;
    background: rgb(65, 65, 65);
    color: #fff;
    margin-bottom: 15px;
    transition: .2s all linear;
    cursor: pointer;

    &:hover {
      background: rgb(93, 93, 93);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      border: 2px rgb(43, 208, 43) solid;
    }
  }

  &__dot {
    top: 50%;
    right: -12px;
    position: absolute;
    background: rgb(43, 208, 43);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    cursor: default;
  }

  &__divider {
    margin-bottom: 15px;
    width: 60px;
    height: 1px;
    background: #33363F;
  }

  &__settings {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
      width: 24px;
      height: 24px;
      position: relative;
      margin-bottom: 15px;
      cursor: pointer;
    }

    &__img {
      position: absolute;
      &:hover {
        right: -5px;
      }
    }
  }

  
}